body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

label {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid #ff6a6a;
  width: 375px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #ff6a6a;
}

#result p {
  margin: 10px 0;
}
