body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid #ff6a6a;
  width: 200px;
  outline: transparent;
}

button {
  padding: 11.6px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #ff6a6a;
}

#result p {
  margin: 10px 0;
}

p {
  color: black;
}
